th,td{
border: solid 1px black;

}

th{
background-color: white;

}

table{
    border-collapse:collapse ;
}

tr:nth-child(even){
background-color: white;
}
tr:nth-child(odd){
    background-color:rgba(219, 216, 216, 0.527);
}

.center{
font-weight: bold;
    text-align: center;


}

img{
    Float:right;
    
}

h2{
    background-color: #b6d2ec;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2a75ba;
    
}



